/* 
* Place css styles below.
*/
body{
	background: #fcfcfc;
	color: #444;
	font: 15px/1.7 Arial, Helvetica, sans-serif;
}

a {
	color: #73b8a1;
	text-decoration: none;
}

a:hover{
	color: #9a9a9a;
}

input {
	border: 1px solid #ccc;
	padding: 8px;
}

table {
	border: 1px solid #ddd;
	width: 100%;

	font-size: 12px;
	text-align: left;
}

table th {
	background: #eee;
	border: 1px solid #bbb;
	padding: 8px;
}

table tr td {
	border: 1px solid #ddd;
	padding: 6px;
}

table tr.alt td {
	background: #e2e2e2;
}

table tr:hover {
	background: #f0f0f0;
}

/* Framework elements */
.wrapper {
	margin: auto;
	width: 960px;
}

.clear {
	clear: both;
}

.pagination li {
	display: inline;
	margin-right: 5px;
}

.error {
	background: rgba(247,72,59,.1);
	border: 1px solid #f7483b;
	color: #444;

	max-width: 100%;
	padding: 20px;
	margin: 20px 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
