
# Framework specific
.DS_Store
vendor
composer.lock
app/Config/config.php
app/Config/constants.php

# The developers Playground
works

# Test specific
tmp/test/*
build/

# IDE's
## IntelliJ IDEA / PhpStorm
.idea
*.iml
