<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         bootstrap="./bootstrap.php">
    <php>
        <const name="PHPUNIT_RUNNING" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Nova Framework">
            <directory>./tests/Nova</directory>
        </testsuite>
    </testsuites>
</phpunit>
