<IfModule mod_deflate.c>

    # Force compression for mangled headers.
    # http://developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding 'gzip,deflate' env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>
            
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/javascript text/css
    </IfModule>

</IfModule>
