<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         bootstrap="./bootstrap.php">

    <php>
        <const name="PHPUNIT_RUNNING" value="true"/>
    </php>

    <testsuites>
        <testsuite name="Nova Framework">
            <directory>./Nova</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../system/Net</directory>
            <directory suffix=".php">../system/Database</directory>
            <exclude>
                <file>../system/Net/Cookie.php</file>
                <file>../system/Net/Session.php</file>
                <file>../system/Net/Response.php</file>
                <file>../system/Database/Entity.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="test/coverage.xml" />
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>
</phpunit>
